.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 50px;
  background-color: rgba(136, 125, 125, 0.116);
  color: black;
}
.navbar h2 a {
  color: Black;
  text-decoration: none;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 50px;
}

.navlinks li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.navlinks li:nth-child(1) a,
.navlinks li:nth-child(2) a {
  border-right: 1px solid black;
  padding-right: 60px;
}

.navlinks li a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .navbar {
    padding: 12px 20px 12px 15px;
    gap: 10px;
    width: 100vw;
  }
  .navbar h2 a {
    font-size: 18px;
  }
  .navlinks {
    gap: 8px;
    font-size: 12px;
  }
  .navlinks li a {
    font-size: 12px;
  }
  .navlinks li:nth-child(1) a,
  .navlinks li:nth-child(2) a {
    padding-right: 5px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .navbar {
    padding: 12px 10px;
  }
  .navlinks {
    gap: 20px;
  }
  .navlinks li:nth-child(1) a,
  .navlinks li:nth-child(2) a {
    padding-right: 20px;
  }
}
