.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: rgba(136, 125, 125, 0.116);
  color: black;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 16px;
}

.navlinks li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navlinks li a:hover {
  text-decoration: underline;
}
