* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid red;
  width: 300px;
  height: 400px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/500px-Good_Food_Display_-_NCI_Visuals_Online.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container h1 {
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
}
